<footer class=" footer">
  <div class=" container-fluid">
    <ul class=" nav">
      <li class=" nav-item">
        <a class=" nav-link" href="https://www.cyntax.org">
          Cyntax
        </a>
      </li>
      <!--<li class=" nav-item">
        <a class=" nav-link" href="https://www.cyntax.org">
          About Us
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="https://www.cyntax.org"> Blog </a>
      </li>-->
    </ul>
    <div class=" copyright">
      &copy; {{ test | date: "yyyy" }}  by
      <a href="https://www.cyntax.org" target="_blank"> Cyntax </a>
      for a better web.
    </div>
  </div>
</footer>
